{% extends 'base.html.twig' %}

{% block title %}MyLoc{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center m-2"> Bienvenue sur MyLoc</h1>
    <h6 class="text-center m-4">Venez prêter les outils rangés au fond du garage, ou faites vous preter les outils que vous avez besoin pour quelques travaux </h6>

    <div class="row justify-content-center">
        {% for objet in objets %}
            <div class="card m-2" style="width: 18rem; height:31rem; overflow:hidden;">
                <img src="uploads/{{ objet.thumbnail }}" class="card-img-top" alt="..." style="position:relative">
                <div class="card-body">
                    <h5 class="card-title">{{ objet.name }}</h5>
                    <p class="card-text">{{objet.description}}</p>
                    <div class="d-flex justify-content-between">
                        {% if app.user == none or app.user.id != objet.owner.id  %}
                            <p class="card-text" style="color:blue; text-decoration: none">{{objet.owner.username}}</p>
                        {% else %}
                            <a href="/profile"><p class="card-text">{{objet.owner.username}}</p></a>
                        {% endif %}
                        <a href="/category/{{objet.category.id}}"><p style="color:green">{{objet.category}}</p></a>
                    </div>
                </div>
                <a href="/objets/show/{{ objet.id }}" class="btn btn-primary">Voir Plus</a>
                {% for emprunt in objet.emprunts %}
                    {% if date >= emprunt.DateStart|date('d/m/Y') and date <= emprunt.DateEnd|date('d/m/Y') %}
                        <div class="d-flex justify-content-between mt-3">
                        <p>Jusqu'au:{{emprunt.DateEnd|date('d/m/Y')}}</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-circle-fill mt-2" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"/>
                            </svg>
                            
                        </div>
                    {% else %}
                        {% if date < emprunt.DateStart|date('d/m/Y') %}
                            <div class="d-flex justify-content-between mt-3">
                            <p>Prêt Prévu le {{emprunt.DateStart|date('d/m/Y')}}</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-circle-fill mt-2" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"/>
                            </svg>  
                        </div> 
                        {% else %}
                        
                        <div class="d-flex justify-content-between mt-3">
                                <p>Disponible</p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-circle-fill mt-2" viewBox="0 0 16 16">
                                <circle cx="8" cy="8" r="8"/>
                                </svg>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>                 
              
{% endblock %}
