{% extends 'base.html.twig' %}

{% block title %}MyLoc{% endblock %}

{% block body %}
    <div class="container">
        <img src="uploads/{{ objet.thumbnail }}" class="card-img-top" alt="...">
        <h5 class="text-center m-1"style="text-transform:uppercase">{{ objet.name }}</h5>
        <div class="container">
            <p>{{objet.description}}</p>
            <div class="d-flex justify-content-between">
                <p style="color:green">{{objet.category}}</p>
                <p style='color:blue'>{{objet.owner.username}}</p>
            </div>
            <div>
            <h6>Prochaine réservation</h6>
            
            </div>
            <!--prochaine date dispo-->
        {% if app.user %}
          <a href="/emprunt/{{ objet.id }}" class="btn btn-primary">Réserver</a>
        {% else %}
            <p>Connectez-vous pour réserver</p>
        {% endif %}
        </div>
    </div>
    
{% endblock %}