<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
            <div class="container-fluid">
                <a class="navbar-brand" href="/objets">MyLoc</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample04">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        {% if app.user %}
                        <li class="nav-item  d-flex justify-content-center">
                            <a class="nav-link active" aria-current="page" href="/objets/add">Preter un objet</a>
                        </li>
                        {% endif %}
                        <li class="nav-item  d-flex justify-content-center">
                            {% if app.user and is_granted('ROLE_ADMIN') %}
                                <a href="/admin/category/add" class="nav-link" aria-current="page">Ajouter Catégorie</a>                           
                            {% endif %}
                        </li>
                        <li class="nav-item dropdown d-flex justify-content-center">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Catégorie</a>
                            <ul class="dropdown-menu" id="menu">
                            {% for category in categories %}
                            <li><a href="/category/{{ category.id }}"style="color:black">{{ category.name }}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="connexion d-flex justify-content-center">
<<<<<<< HEAD
                    {% if app.user and is_granted('ROLE_ADMIN') %}
                        <a href="/admin" class="nav-link me-3" aria-current="page" style="color:white">Accès Admin</a>                           
                    {% endif %}
                    {% if app.user %}
                        <a href="/profile"><p class="m-0 pe-3" style="color:white">{{app.user.username}}</p></a>
=======
                    {% if app.user %}
                        <p class="m-0 pe-3" style="color:white">{{app.user.username}}</p>
>>>>>>> origin/main
                        <a href="/logout"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-x-lg me-2" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg></a>
                        {% else %}
                    <a href="/login"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-person-fill me-3" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg></a>
                    <a href="/register"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-file-plus me-2" viewBox="0 0 16 16">
                        <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5z"/>
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1"/>
                    </svg></a>
                    {% endif %}
                </div>
            </div>
        </nav>
                

        {% block body %}{% endblock %}
    </body>
</html>
